<div class="navigation">
  <div class="back" (click)='back()'></div>
  <p class="navigation-title">资金流水</p>
</div>
<div class="date-div">
  <span>查询日期</span>
  <input type="date" name="" id="" (change)='change()' [(ngModel)]="startDate">
  <span class="date-span">{{startDate}}</span>
  <span>-</span>
  <input type="date" name="" id="" (change)='change()' [(ngModel)]="endDate">
  <span class="date-span">{{endDate}}</span>
</div>
<div class="flow-content">
  <div class="flow-list" *ngFor="let item of list">
    <div class="icon">
      <span [class]="borderColor(item.orderType,item.totalAmount)">{{item.orderTypeDesc}}</span>
    </div>
    <div>
      <p style="color:#b00e23;">
        <span [class]="fontColor(item.orderType,item.totalAmount)">
          {{item.orderType == 3?'':(item.orderType != 1?'-':'+')}}{{item.totalAmount}}
        </span>
        <span class="status" [class]="color(item.auditResult)">{{item.auditResultDesc}}</span>
      </p>
      <p>
        {{item.payeeInfo}}
      </p>
      <p>
        {{item.createTime}}
      </p>
      <p class="red" *ngIf="item.auditResult == -1">
        备注：{{item.remark}}
      </p>
    </div>
  </div>
</div>
