.date-div {
  height: 45px;
  background: #ffffff;
  margin-bottom: 10px;
  line-height: 45px;
  padding: 0 10px;
}

.date-div input {
  width: 117px;
  height: 38px;
  line-height: 40px;
  opacity: 0;
  margin-left: 5px;
  position: absolute;
  z-index: 10;
}

.date-span {
  display: inline-block;
  width: 90px;
  text-align: right;
  padding-right: 10px;
  border: solid 1px #d4d4d4;
  height: 27px;
  line-height: 27px;
  color: #4c4c4c;
  border-radius: 5px;
  margin: 0px 18px;
  font-size: .9rem;
}

.flow-list {
  margin-left: 10px;
  display: flex;
  border-bottom: solid 1px #f1f1f1;
  padding: 10px;
}

.flow-list:last-child {
  border-bottom: none;
}

.flow-list div:nth-child(1) {
  width: 70px;
  margin: auto;
}

.flow-list div:nth-child(2) {
  flex: 3;
  font-size: .85rem;
}

.flow-list div:nth-child(2) p {
  margin: 7px 0;
}

.flow-content {
  background: #fff;
  border-bottom: solid 1px #f1f1f1;
  border-top: solid 1px #f1f1f1;
  height: calc(100vh - 106px);
  overflow-y: auto;
}

.flow-list .icon span {
  width: 50px;
  height: 50px;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  line-height: 50px;
  border: solid 1px #b00e23;
  border-radius: 50%;
  color: #b00e23;
  font-size: .8rem;
}

.blueBorder {
  border: solid 1px #145c90 !important;
  color: #145c90 !important;
}

.status {
  float: right;
}

@media screen and (max-width: 320px) {

  .date-span {
    margin: 0 9px;
  }
}
