.empty img {
  padding: 40px;
  border: dashed 1px #dfdfdf;
  margin-top: 120px;
  position: relative;
  left: 50%;
  margin-left: -73px;
}

.empty p {
  text-align: center;
}

.search {
  position: relative;
  width: 25px;
  margin: 12px;
  float: right;
}

.cclb {
  background: #fff;
  overflow-x: hidden;
  width: 100vw;
}

.cclb table {
  width: 100%;
  text-align: center;
  font-size: .9rem;
}

.cclb table tr {
  height: 36px;
  border-bottom: solid 1px #ccc;
}

.cclb table tr:first-child {
  background: #e3e6e6;
}

.cclb table tr td p {
  margin: 5px;
}

.delete-btn {
  margin-left: 30px;
  margin-top: 10px;
}

.table-flex {
  height: 44px;
  background: #efefef;
  text-align: center;
  border-bottom: solid 1px #e4e4e4;
  display: flex;
}

.table-flex div {
  width: 25%;
  font-size: .9rem;
}

.table-flex div p {
  margin: 4px 0px;
}

.single-line {
  line-height: 44px;
}

.table-flex2 {
  height: 44px;
  text-align: center;
  font-size: .85rem;
  width: 100vw;
  border-bottom: solid 1px #f5f5f5;
  display: flex;
}

.table-flex2 div p {
  margin: 4px 0px;
}

.table-flex2 div {
  width: 25%;
}

.table-flex2 div:nth-child(1) {
  background: rgba(106, 193, 255, 0.4);
}

.edit {
  float: left;
  margin-left: 20px;
  font-size: .9rem;
  position: relative;
  z-index: 10;
}

.show-delete {
  animation: show 1000ms;
  animation-fill-mode: forwards;
}

@keyframes show {
  from {
    margin-left: 0px;
  }

  to {
    margin-left: 60px;
  }
}

.zixuan-list {
  height: calc(100vh - 186px);
  overflow-y: auto;
  overflow-x: hidden;
}

.optionTitle {
  height: 40px;
  line-height: 40px;
  display: flex;
  border-bottom: solid 1px #eae9e9;
}

.optionTitle span {
  flex: 1;
  text-align: center;
  font-size: 1.2rem;
}

.optionTitle button {
  border: none;
  flex: 1;
  background: none;
  outline: none;
}

.active {
  border-bottom: solid 2px #b00e23 !important;
}

.btn-list {
  height: 50px;
  display: flex;
}

.btn-list button {
  flex: 1;
  margin: 8px 20px;
  border: none;
  color: #fff;
  background: #adadad;
}

.btn-active {
  background: #b00e23 !important;
}
