<div class="navigation">
  <div class="back" (click)='back()'></div>
  <p class="navigation-title">设置</p>
</div>
<div class="list-item" (click)='userDetail()' [style.margin-top]="0">
  <span>个人详情</span>
  <img class="right-icon" src="./assets/images/right.png" alt="">
</div>
<div class="list-item" (click)='goto("capitalflow")' >
  <span>资金流水</span>
  <img class="right-icon" src="./assets/images/right.png" alt="">
</div>
<div class="list-item" (click)='goto("settlement")' >
  <span>结算单</span>
  <img class="right-icon" src="./assets/images/right.png" alt="">
</div>
<div *ngIf="tacticsStatus === 1" class="list-item" (click)='submit()' >
  <span>结案</span>
</div>
<div *ngIf="tacticsStatus === 2" class="list-item" (click)='submit2()' >
  <span>取消预结案</span>
</div>
<div class="list-item" (click)='goto("resetPwd")'>
  <span>修改密码</span>
  <img class="right-icon" src="./assets/images/right.png" alt="">
</div>
<div class="list-item" (click)='goto("card")'>
  <span>修改提现信息</span>
  <img class="right-icon" src="./assets/images/right.png" alt="">
</div>
<div class="list-item" (click)='logout()'>
  <span>注销</span>
</div>
