.content {
  display: flex;
  width: 100vw;
  margin-top: 5px;
  background: #fff;
  text-align: center;
}

.content .left-div {
  flex: 6;
  padding: 0 5px;
}

.content .left-div div {
  margin: 8px 0;
}