.content {
    display: flex;
    width: 100vw;
    margin-top: 5px;
    background: #fff;
    text-align: center;
}

.content .left-div {
    flex: 6;
    padding: 0 5px;
}

.content .left-div div {
    margin: 8px 0;
}

.input {
    border: solid 1px #b00e23;
    font-size: 1rem;
    padding: 0 4px;
    width: 94%;
    height: 30px;
    line-height: 30px;
    border-radius: none;
}

.add-down {
    display: flex;
}

.add-down div {
    border: none;
    color: #fff;
    background: #b00e23;
    width: 46px;
    outline: none;
    font-size: 2rem;
    height: 32px;
    line-height: 26px;
    margin: 0 !important;
}

.green {
    color: green;
}

.red {
    color: red;
}

.four-btn div {
    float: left;
    font-size: 0.8rem;
    padding: 3px 5px;
    margin: 0 5px !important;
    border-radius: 0;
    border: solid 1px #ccc;
}

.buy {
    display: flex;
    width: 100%;
    margin: 10px 0 !important;
}

.fullcount{
    margin: 0;
    font-size: .8rem;
    height: 13px;
}

.fullcount span:first-child{
    float: left;
}

.fullcount span:last-child{
    float: right;
}

.buy div {
    flex: 1;
    background: #b00e23;
    color: #fff;
    height: 30px;
    line-height: 30px;
    border: solid 1px #b00e23;
    margin: 0 !important;
}

.clear {
    background: #f8f8f8 !important;
    border: solid 1px #ddd !important;
    color: #000 !important;
}

.right-div {
    flex: 5;
    border-left: solid 1px #ccc;
}

.right-div p {
    margin: 2px;
    font-size: .9rem;
    display: flex;
    height: 21px;
    line-height: 21px;
}

.right-div p span {
    flex: 1;
}

.line {
    border-bottom: dashed 1px #ccc;
    height: 1px !important;
}

.gpmc {
    float: right;
    position: relative;
    margin-top: -25px;
    font-size: .9rem;
    margin-right: 5px;
}

.green-red {
    margin-top: -10px !important;
    margin-bottom: 5px;
    height: 17px;
}

.four-btn {
    height: 20px;
}

.four-btn-active {
    background: #d4d4d4
}

.SELL .input {
    border: solid 1px #145c90;
}

.SELL .buy div {
    background: #145c90;
    border: solid 1px #145c90;
}

.SELL .add-down div {
    background: #145c90;
}

.fenshi-div {
    background: #fff;
}

.fenshi-div p {
    padding: 5px 10px;
    margin: 5px 0;
}

.shifen span{
    margin: 0 10px;
}