.title{
    font-size: 1.2rem;
    text-align: center;
    margin: 20px 0;
}

.date{
    font-size: .9rem;
    color: #9a9a9a;
    margin-left: 20px;
}

#content{
    height: calc(100vh - 50px);
    overflow-y: auto;
}