<div class="navigation">
  <div class="back" (click)='back()'></div>
  <p class="navigation-title">充值信息确认</p>
</div>
<div class="cell-list">
  <div class="list-item" *ngIf="payType==3">
    <span class="list-item-name">
      支付宝账号
    </span>
    <span class="list-item-content" >
      {{cardInfro.aliyPay}}
    </span>
  </div>
  <div class="list-item" *ngIf="payType==3">
    <span class="list-item-name">
      收款人姓名
    </span>
    <span class="list-item-content">
      {{cardInfro.aliyPayName}}
    </span>
  </div>
  <div class="list-item" *ngIf="payType==2">
    <span class="list-item-name">
      收款银行
    </span>
    <span class="list-item-content">
      {{cardInfro.bankName}}
    </span>
  </div>
  <div class="list-item" *ngIf="payType==2">
    <span class="list-item-name">
      收款人姓名
    </span>
    <span class="list-item-content">
      {{cardInfro.bankAccountName}}
    </span>
  </div>
  <div class="list-item" *ngIf="payType==2">
    <span class="list-item-name">
      收款账号
    </span>
    <span class="list-item-content">
      {{cardInfro.bankCardNo}}
    </span>
  </div>
  <div class="list-item" *ngIf="payType==2">
    <span class="list-item-name">
      开户行
    </span>
    <span class="list-item-content">
      {{cardInfro.bankBranch}}
    </span>
  </div>
  <div class="list-item">
    <span class="span-title">
      充值金额
    </span>
    <span class="list-item-content">
      {{amount}}
    </span>
  </div>
  <div class="list-item" style="height:auto">
    <span class="span-title" style="margin:auto">
      备注
    </span>
    <span class="list-item-content" style="width: 200px;line-height: 2;text-align: right;font-size: .9rem;">
      {{remark}}
    </span>
  </div>
</div>
<p style="padding-left: 20px;">
  请点击 <button (click)='copy()' class="copy">复制</button>复制该备注信息
</p>
<div class="bottom-btn" style="margin-top:20px;">
  <div class="main" (click)='pay()'>提交</div>
</div>
