
.list-item1{
  padding: 13px 0;
  background: #fff;
  border-bottom: solid 1px #f1f1f1;
  overflow-x: hidden;
}

.list-item-name{
  width: 70px;
  display: inline-block;
}

.list-item-content{
  width: calc(100vw - 124px);
  word-break: break-word;
  text-align: right;
}