.cell-list {
  border-top: solid 1px #e5e5e5;
  border-bottom: solid 1px #e5e5e5;
  padding-left: 20px;
  background: #fff;
  margin-top: 10px;
  color: #333;
  text-align: left;
}

.cell-list .list-item:last-child {
  border-bottom: none !important;
}

.list-item {
  height: 45px;
  line-height: 45px;
  background: #fff;
  border-bottom: solid 1px #f1f1f1;
  overflow-x: hidden;
}

.list-item-content{
    float: right;
    margin-right: 20px;
}

.copy{
  background: #b00e23;
  border: none;
  color: #fff;
  border-radius: 5px;
  margin: 0 10px;
  padding: 3px 10px;
}
