.submit {
  display: inline-block;
  width: 80vw;
  height: 40px;
  background: linear-gradient(#fc666d, #d0196b);
  color: #fff;
  font-size: 1.1rem;
  border-radius: 45px;
  text-align: center;
  line-height: 40px;
  margin-top: 1rem;
  border: none;
  font-weight: 600;
  margin-left: 10vw;
  margin-bottom: 20px;
}

.content {
  height: calc(100vh - 198px);
  overflow-y: auto;
}
