<div class="login-div">
  <img class="logo" src="./assets/images/signup.jpg" alt="">
  <div class="input-div">
    <p class="title">{{type == 'signup'?'注册':'找回密码'}}</p>
    <div class="login-input " *ngIf="type == 'signup'">
      <div class="icon name"></div>
      <input type="text" placeholder="昵称" maxlength="11" [(ngModel)]='userName'>
    </div>
    <div class="login-input">
      <div class="icon"></div>
      <input type="text" placeholder="手机号码" maxlength="11" [(ngModel)]='phone'>
    </div>
    <div class="login-input">
      <div class="icon code"></div>
      <input class="code-input" type="text" placeholder="验证码" [(ngModel)]='code'>
      <button class="code-btn" (click)='getCode()' [disabled]='time != 60'>
        {{text}}
      </button>
    </div>
    <div class="login-input">
      <div class="icon password"></div>
      <input type="password" placeholder="密码" [(ngModel)]='password'>
    </div>
    <div class="login-input" *ngIf="type == 'signup'">
      <div class="icon inviteCode"></div>
      <input type="text" placeholder="邀请码" [(ngModel)]='inviteCode'>
    </div>
    <p class="book" *ngIf="type == 'signup'">
      注册即视为同意：《 <a (click)='book()'>风险揭示书</a> 》
    </p>
    <button class="login-btn" (click)='submit()'>{{type == 'signup'?'注册':'确定'}}</button>
    <div class="signup-div" *ngIf="type == 'signup'">
      <span (click)='goto()'>已有账号？去登录</span>
    </div>
  </div>
  <!-- <div class="bottom-div">
  </div> -->
</div>
