.login-div {
  background: #fff;
  height: 100vh;
  width: 100vw;
}

.logo {
  width: 100vw;
}

.title {
  color: #b00e23;
  text-align: center;
  font-size: 1.7rem;
  margin: 20px 0 30px 0;
}

.login-input {
  margin-bottom: 7px;
  border-bottom: solid 1px #bfc0c0;
  width: 80%;
  margin-left: 10%;
}

.login-input input {
  height: 28px;
  background: none;
  border: none;
  outline: none;
  padding: 5px;
  font-size: 1rem;
  width: calc(100% - 60px);
  margin-left: 10px;
}

.login-btn {
  width: 80%;
  height: 35px;
  background: #b00e23;
  border: none;
  color: #fff;
  font-size: 1rem;
  border-radius: 24px;
  margin-top: 20px;
  margin-left: 10%;
  outline: none;
  box-shadow: 0px 2px 10px 1px rgba(92, 13, 13, 0.36);
}

.login-btn:active {
  background: #b00e23;
}

.input-div {
  width: 84%;
  margin-left: 8%;
  position: relative;
  margin-top: -160px;
  background: #fff;
  padding-top: 1px;
  box-shadow: 0px 0px 10px 1px rgba(76, 76, 76, 0.18);
  padding-bottom: 25px;
  z-index: 10;
}

.login-input .icon {
  background: url(../../assets/images/zhuce-icon.png) no-repeat;
  float: left;
  width: 30px;
  height: 30px;
  margin-top: 4px;
  margin-left: 6px;
  background-size: 100% 500%;
}

.code {
  background-position-y: -60px !important;
}

.password {
  background-position-y: -30px !important;
}

.inviteCode {
  background-position-y: -90px !important;
}

.name{
  background-position-y: -120px !important;
}


.bottom-div {
  background: #fff;
  width: 70%;
  height: 20px;
  position: relative;
  margin-left: 15%;
  box-shadow: 0px 0px 15px 5px rgba(76, 76, 76, 0.16);
  margin-top: -4px;

}

.signup-div {
  text-align: center;
  font-size: .9rem;
  color: #a7a7a7;
  margin-top: 20px;
}

.code-input{
  width: calc(100% - 160px) !important;
}

.code-btn{
  width: 104px;
  height: 30px;
  background: #fff;
  border: solid 1px #b00e23;
  border-radius: 45px;
  color: #b00e23;
}

.book{
  font-size: 0.8rem;
  margin-left: 35px;
}

.book a{
  color: #145c90;
}