.content-title {
  font-size: .9rem;
}

.content-info {
  font-size: .8rem;
  color: #868686;
}

.swiper-container {
  width: 100vw;
}

.swiper-container img {
  width: 100%;
}

.swiper-slide {
  width: 100vw;
}
