.cclb {
  background: #fff;
}

.cclb table {
  font-size: .9rem;
  width: 100%;
  text-align: center;
}

.cclb table tr {
  height: 36px;
}

.cclb table tr:first-child {
  background: #ececec;
}

.cclb table tr,
.cclb table tr td {
  height: 36px;
  border-bottom: solid 1px rgb(231, 231, 231);
}

.search-head {
  text-align: center;
  background: #fff;
  margin-top: 5px;
}

.search-content {
  display: flex;
  height: 70px;
}

.search-content div {
  flex: 5;
  font-size: .9rem;
}

.search-content div:nth-child(2) {
  flex: 5;
  line-height: 70px;
  font-size: 1.3rem;
}

.right {
  width: 30px;
  margin-top: 19px;
}

.search-title {
  font-size: 1.4rem;
  padding-top: 15px;
  margin: 0;
  margin-bottom: 20px;
}

.selectTime {
  position: absolute;
  height: 65px;
  opacity: 0;
}

.span {
  float: left;
  margin-top: 14px;
  font-size: .7rem;
  display: block;
  border: solid 1px #b00e23;
  border-radius: 50px;
  height: 20px;
  width: 20px;
  line-height: 20px;
  margin-left: 2px;
  color: #b00e23;
  margin-right: 2px;
}

.blue {
  color: #145c90 !important;
  border: solid 1px #145c90 !important;
}

.date {
  position: absolute;
  width: 100vw;
  left: 0;
  margin-top: -64px;
  opacity: 0;
  height: 40px;
}

.select {
  background: url(../../assets/images/select.png);
  background-size: 100% 100%;
  width: 20px;
  height: 20px;
  margin-left: 10px;
  display: inline-block;
  margin-top: 3px;
  position: absolute;
}

.date-div {
  height: 45px;
  background: #ffffff;
  margin-top: 5px;
  line-height: 45px;
  padding: 0 10px;
}  

.date-div input {
  width: 117px;
  height: 38px;
  line-height: 40px;
  opacity: 0;
  margin-left: 5px;
  position: absolute;
  z-index: 10;
}

.date-span {
  display: inline-block;
  width: 90px;
  text-align: right;
  padding-right: 10px;
  border: solid 1px #d4d4d4;
  height: 27px;
  line-height: 27px;
  color: #4c4c4c;
  border-radius: 5px;
  margin: 0px 18px;
  font-size: .9rem;
}
