<div class="navigation" *ngIf="!isJiaoyi">
  <p class="navigation-title">资产</p>
</div>
<div class="chedang-div" *ngIf="version === 2">

  <div>
    <div class="icon4 djzj2"></div>
    <p>
      {{userInfo.floatCashScale | round4}}
    </p>
    <p>
      浮动保证金
    </p>
  </div>
  <div>
    <div class="icon4 kyzj2"></div>
    <p>
      {{userInfo.limitAbleScale | round4}}
    </p>
    <p>
      浮动可用
    </p>
  </div>
</div>
<div class="chedang-div" *ngIf="version === 1">
  <div>
    <div class="icon4 kyzj2"></div>
    <p>
      {{userInfo.limitAbleScale | round4}}
    </p>
    <p>
      浮动可用
    </p>
  </div>
  <div>
    <div class="icon4 djzj2"></div>
    <p>
      {{freezaFee | round4}}
    </p>
    <p>
      冻结资金
    </p>
  </div>
</div>
<div class="chedang-div">
  <div>
    <div class="icon4 kyzj2"></div>
    <p>
      {{userInfo.stockScale | round4}}
    </p>
    <p>
      持股市值
    </p>
  </div>
  <div *ngIf="version === 2">
    <div class="icon4 gpsz2"></div>
    <p>
      {{userInfo.riskValue | round4}}
    </p>
    <p>
      安全界线
    </p>
  </div>
  <div *ngIf="version === 1">
    <div class="icon4 gpsz2"></div>
    <p>
      {{userInfo.totalScale | round4}}
    </p>
    <p>
      总资产
    </p>
  </div>

</div>
<div [class]="overflow(isJiaoyi)">
  <app-cclb></app-cclb>
</div>